aside.onebox .onebox-body img.github-status-indicator {
  height: $line-height-large * 1em;
  width: 3 * $line-height-large * 1em;
  object-fit: contain;
  object-position: left;
  margin: 0;
  padding: 0;
}
